<% if current_user %> <!-- Check if user is logged in -->


  <%= render 'layouts/header' %>      


<div class="container-fluid">


  <div id="home">
        
          <div class="well">

            <div id="thetabs">
                <ul id="thetabs" class="nav nav-tabs">
                <li class="active">
                  <a href="/">Public</a>
                </li>
                <li><a href="/attending">Attending</a></li>
                <li> <a href="/meals/new">New Lunch</a></li>
              </ul>
            </div>

            <% if @pubmeals %>
               <% @pubmeals.where('mealtime > ?', DateTime.now).order("mealtime ASC").each do |pubmeal|%>

                  <% @attendingmeal =  Attending.find_by_user_id_and_lunch_id(current_user.id, pubmeal.id) %>
                  <% if @attendingmeal %>
                  <% else %>

                    <div class="row-fluid" id="displaybox">

                      <div class="span3">
                        <!--
                      <% @creator = User.find(pubmeal.user_id) %>
                      <%= image_tag(@creator.image.sub('square', 'large'), {:class => "listimage" }) %>
                        
                                                -->

                        <% @coords = Meal.get_coordinates(pubmeal) %>

                        <center>
                        <%= image_tag("http://maps.googleapis.com/maps/api/streetview?size=200x150&location=#{@coords[0]},%20#{@coords[1]}&fov=120&sensor=false")  %>
                        </center>

                      </div>


                      <div class="span4 eventbox">
                        <p id="eventlocation"><%= link_to pubmeal.location, pubmeal %></p>
                         <p id="eventtitle"><%= link_to pubmeal.title, pubmeal %></p>
                         <p id="eventtime"><%= link_to pubmeal.mealtime.strftime("%b %e, %l:%M %p"), pubmeal %></p>
                         <p id="eventdesc"><%= link_to pubmeal.description, pubmeal %></p>
                      </div>

                      <div class="span3">
                        <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?center=#{@coords[0]},%20#{@coords[1]}&zoom=14&markers=color:blue%7Clabel:Lunch%7C#{@coords[0]},%20#{@coords[1]}&size=200x150&sensor=false") %>
                      </div>

                      <div class="span2 pull-right">
                        <% @attenders = Attending.where("lunch_id = ?", pubmeal.id).count %>
                        <center>
                          <p id="eventattenders"><%= @attenders %></p>
                          <% if @attenders == 1 %>
                          Person Attending
                          <% else %>
                          People Attending
                          <% end %>
                        <br>
                       <button class="btn btn-success" id="join"><%= link_to 'Join', :controller => "meals", :action => "attendmeal", :id => pubmeal.id %></button>
                        </center>
                      </div>


                    </div>


                  <% end %>


               <% end %>
            <% end %>

          </div><!--/.well -->
        </div><!--/span-->       
        
      
<% else %> <!-- Page that is displayed if user isn't logged in (landing page!)  -->

<div class="container">
     
    <div class="row">
      <div id="logo-top" class="span6">
        <div class="demo-headline">
          <h1 class="demo-logo">
            
            GrubMe
            <%= image_tag("sandwich-white.png", { :id => "logo" }) %></h1>
            <%= link_to image_tag("fb-login.png", { :id => "fb-login-btn" }), "/auth/facebook", id: "sign_in" %>            
        </div>
      </div>
    </div>      
   
    <div id="home-tiles"> 
      <div class="row demo-tiles">
        <div class="span4">
          <div class="tile">
            <%= image_tag("timer.png", { :class => "tile-image" }) %>
            <h3 class="tile-title">Decide Fast</h3>
            <p>Don't waste your valuable time debating where to go for lunch. Decisions for lunch are made quickly and efficiently with GrubMe.</p>
          </div>
        </div>

        <div class="span4">
          <div class="tile">
            <%= image_tag("use.svg", { :class => "tile-image" }) %>
            <h3 class="tile-title">Easy to Use</h3>
            <p>Grabbing lunch with co-workers or friends was never so easy. Our system saves you time and energy which equals money.</p>
          </div>
        </div>

        <div class="span4">
          <div class="tile">
            <%= image_tag("vote.png", {:class => "tile-image"}) %>
            <h3 class="tile-title">You Choose</h3>
            <p>Tired of having your co-workers or friends choose bad locations for lunch. With GrubMe, you have a say in every decision. </p>
          </div>
        </div>

        </div>
      </div> <!-- /tiles -->

    </div> <!-- /container -->



<% end %>


  </body>
</html>
