<%= render 'layouts/header' %>      

<div class="container">

  <div class="modal-header">

    
  </div>

  <div id="meal-form">
    <h1>Create A Lunch!</h1>
  <%= form_for :meal, :url => { :action => "create" }, :html => {:class => "nifty_form", :id => "create-lunch"} do |f| %>
            <br>
            <br>
            <label>Lunch Title:</label>
            <%= f.text_field :title, :placeholder => "Ex: Team Bonding" %>
            <label>Lunch Description:</label>
             <%= f.text_field :description, :placeholder=> "Ex: Celebrating Mary's B-day! " %>
            <label>Lunch Time:</label>
            <%= f.datetime_select :mealtime, :order => [:month, :day] %>
            <label>Lunch Location:</label>
            <%= f.text_field :location,:placeholder=> "Ex: Chipotle "  %>
            <label>Lunch City:</label>
            <%= f.text_field :city,:placeholder=> "Ex: Champaign "  %>
            <label>Lunch State:</label>
            <%= f.text_field :state,:placeholder=> "Ex: Illinois"  %>
           
            <br>
            <br>
            <%= f.submit "Create" %>
<% end %>  
</div>

</div>