<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="/">GrubMe</a>
    <ul class="nav pull-right">
      <li><%= image_tag(current_user.image, {:class => "img-square", :id => "person_pic"}) %></li>
      <li><a><%= current_user.name %></a></li>
      <li><a href="/meals/new">Create A Lunch!</a></li>
      <li><a href="/signout">Log Out</a></li>
    </ul>
  </div>
</div>


<!-- Modal
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" style="text-align:center">Create A Lunch!</h3>
  </div>
  <div class="modal-body">
  <%= form_for :meal, :url => { :action => "create" }, :html => {:class => "nifty_form", :id => "create-lunch"} do |f| %>
       <fieldset>
            <label>Lunch Title:</label>
            <%= f.text_field :title, :placeholder => "E.g. Pizza hut" %>
            <label>Lunch Description:</label>
             <%= f.text_field :description, :placeholder=> "ex: Celebrating Mary's B-day! " %>
            <label>Lunch Time:</label>
            <%= f.datetime_select :mealtime, :order => [:month, :day] %>
            <label>Lunch Location:</label>
            <%= f.text_field :location %>
            <%= f.check_box :public %>
            <br>
            <br>
            <span class="help-block">Check the Details One More Time!</span>
                <%= f.submit "Create" %>
<% end %>  

       </fieldset>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>
-->